body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Inter, 'Noto Sans', Arial, sans-serif;
    letter-spacing: -.01em;
    user-select: none;
    -webkit-user-drag: none;
    align-content: center;
    flex-wrap: wrap;
    transition: 0.168s ease;
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    /* background: #ffffff; */
    /* background: linear-gradient(60deg, #606a8466, #a3a3c166, #24245b66); */
    /* animation: gradient 25s ease infinite; */
    /* background-size: 400% 400%; */
    filter: blur(20px);
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.banner {
    height: 100vh;
    width: 100vw;
    /* min-width: 1200px; */
    overflow: hidden;
    background: -webkit-linear-gradient(top, #000000 0%, #104CBC 20%, #ffffff 46%);
    background: linear-gradient(180deg, #000000 0%, #104CBC 20%, #ffffff 46%);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.banner .wordmark {
    max-width: 80vw;
    max-height: 80vw;
    filter: blur(3px);
}

.loginContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff66;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .06)); */
    backdrop-filter: blur(60px);
    border: 1.6px solid #eaeaea;
    box-shadow: 0 32px 64px 0 rgba(34, 110, 189, .16);
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.loginContainer::before {
    background: -webkit-linear-gradient(left, #6592AA 60%, #104CBC 80%, #000000 100%);
    background: linear-gradient(90deg, #6592AA 60%, #104CBC 80%, #000000 100%);
    border-radius: 0 0 12px 12px;
    bottom: 0;
    content: "";
    height: 8px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    width: 100%;
}

.loginHeader {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 50%;
    margin: 0px;
    vertical-align: top;
    box-shadow: rgba(111, 144, 179, 0.14) 0px 20px 20px 0px;
    -webkit-user-drag: none;
}

.loginHeader h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.marqueeContainer {
    width: 216px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
}

.marqueeContent {
    display: inline-block;
    animation: marquee 5s linear infinite;
}

.marqueeCover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: multiply;
}

.marqueeBefore {
    height: 100%;
    width: 30px;
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff88 30%, #ffffff00 100%);
    background: linear-gradient(90deg, #ffffff 0%, #ffffff88 30%, #ffffff00 100%);

}

.marqueeAfter {
    height: 100%;
    width: 20px;
    background: -webkit-linear-gradient(right, #ffffff 0%, #ffffff88 30%, #ffffff00 100%);
    background: linear-gradient(270deg, #ffffff 0%, #ffffff88 30%, #ffffff00 100%);
}

@keyframes marquee {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input {
    background: #ffffff66;
    width: 100%;
    height: 2.6em;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #104CBC;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0A337A;
}

.authenToken {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.authenToken input {}

.authenToken button {
    margin-left: 12px;
    max-width: fit-content;
    max-height: 2.6em;
    padding: 8px;
    background-color: #104CBC;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.authenToken button:hover {
    background-color: #0A337A;
}

.errorMessage {
    color: #c90606;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.loginFooter {
    margin-top: 20px;
    font-size: 12px;
    color: #666666;
}

.footLinks a {
    color: inherit;
}
